/* Styles go here */

body{
    padding: 50px;
}

#Comp_Table {
    margin: 0;
    padding: 0;
    width: 210px;
}

.Comp_Table_Caption {
    font: 14px sans-serif;
    text-align: right;
    padding: 0px 0 5px;
    caption-side: top;
}

.Comp_Table_head th {
    color: #4f6b72;
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    background: #fef7da url("http://www.luttrellstowncastlegolfmembers.com/images/castleknock/Competition_bg_header.jpg") no-repeat;
    text-align: center;
    padding: 6px 6px 6px 12px;
    border: solid 1px #c1dad7;
}

.Comp_Table_Line td.specalt {
    color: #797268;
    background: #EFEDE3;
    margin: 0;
    padding: 3px 3px 3px 6px;
    border-style: solid;
    border-width: 1px 1px 0;
    border-color: #c1dad7;
    text-decoration: none;
}

.Comp_Table_Line td.btmleft {
    color: #4f6b72;
    background: #fff;
    margin: 0;
    padding: 3px 3px 3px 6px;
    border: solid 1px #c1dad7;
}

.Comp_Table_Line td {
    color: #4f6b72;
    text-decoration: none;
    background: #fff;
    margin: 0;
    padding: 3px 3px 3px 6px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #c1dad7;
}

.box div {
    margin: 0.5em 0 0 -1.0em;
}

.table-add {
  color: #070;
  cursor: pointer;
  font-weight: bold;
    float: right;
  &:hover {
    color: #0b0;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  float: right;
  &:hover {
    color: #f00;
  }
}

.twos-table-remove {
  color: #700;
  cursor: pointer;
  float: right;
  &:hover {
    color: #f00;
  }
}

.hide-head{
    display: none;
}

.hide-data{
    display: none;
}   

.main-container{
    width: 700px;
    margin: auto;
}

/*Content Tools*/

/* Alignment styles for images, videos and iframes in editable regions */

/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Left align */
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
[data-editable].align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}

.author {
    font-style: italic;
    font-weight: bold;
}

.margin-bottom-20{
    margin-bottom: 20px
}

.layout{
    padding: 25px;
}

.rounded {
    border-radius: .25rem!important;
}

.border {
    border: 1px solid #dee2e6!important;
}
